body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    /*font-weight: bold;*/
}

.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 20px; }
.voffset4 { margin-top: 40px; }
.voffset5 { margin-top: 80px; }

/* Bootstrap Overrides */

.popover {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.navbar-inverse {
    background-color: /*#47C25F*/ #000;
    border-color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,

.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #383a3d/*#4FD688*/;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-collapse ul li:hover {
    background-color: #383a3d;
}

.navbar-brand {
    font-weight: 700;    
}

.navbar-nav > li > .dropdown-menu{
    background-color: #000;
}

.dropdown-menu > li > a {
    color: #fff;
}

.dropdown-menu > li > a:hover {
    background-color: #383a3d;
}

.dropdown-menu .divider:hover {
    background-color: #e5e5e5;
}
body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control:focus {
    font-size: 17px;
    height: 44px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
    border: none;
}
    /*
    .btn-link {
        display: block;
    }*/

    /*
.btn-success{
    background-color: #AE7635;/* #FF7300;
    border-color: #FF7300;
}
                                      */

.btn-info{
    background-color: /*#f1c40f;*/ #f39c12;
    border-color: #f39c12;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
    background-color: #da8b0b;
    border-color: #da8b0b;
}

/* ***** /

/* Page-level styles */

/* ***** */

.plans {
    list-style: none;
    padding-left: 0px;
}

.plans .plan {
    position: relative;
    margin-bottom: 30px;
    background-color: #F5F5F5;
    width: 100%;
    height: 100px;
}

    .plans .plan .plan-rating {
        position: relative;
        background: #aaaaaa;
        border-color: #aaaaaa;
        color: #fff;
        font-size: 20px;
        height: 100%;
        margin: 0px;
    }

        .plans .plan .plan-rating .rating-value {
            position:absolute;
            transform: translateY(120%) translateX(55%);
        }

    .plans .plan .details {
        text-align: center;
        padding-top: 10px;
    }

        .plans .plan .details .lifter {
            font-weight: bold;
            display: block;
            padding-bottom: 5px;
        }

        .plans .plan .details .genre {
            font-size: 15px;
        }

        .plans .plan .details .stars {
            font-size: 15px;
            padding-top: 5px;
        }

    .plans .plan .actions {
        margin: 0 auto;
        padding: 0px;
        text-align: center;
    }

    .doubleBtn {
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        width: 100%;
        height: 50px;
    }

    .plans .plan .actions #viewBtn {
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100px;
    }

    /*.plans .plan .myactions {
        font-size: 15px;
        display: none;
    }

    .plans .plan:hover .myactions {
      display: block;
    }*/
    
    .tripleBtn{
        padding: 0px;
        margin: 0px;
        width: 100%;
        border-radius: 0px;
        height: 33px;
    }
    
#searchPlans {
    margin-top: 20px;
}

#searchPlans div {
  margin: auto;
  width: 400px;
}
#searchPlans div input { 
  max-width: none;
}

#plansRow{
    background-color: white;
}

#plansCol{
    background: white;
}

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

/*
.popover-notifications .popover-content {
  padding: 0;
}
.popover-notifications ul.notifications {
  list-style: none;
  padding-left: 0;
}
.popover-notifications ul.notifications > li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
  border-bottom: none;
}
.popover-notifications ul.notifications .highlight {
  font-weight: bold;
}
    */

/* Clip text element */
.clip-text {
    font-size: 6em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}

.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  background-position: 50% 50%;
}

.clip-text_fourteen {
    background-image: url(https://4kwallpapers.co/wp-content/uploads/2015/09/abstract-colorful-vectors-design-4k-wallpapers.png);
}

.summaryShiftArrow:active{
    background-color: #dddddd;
}

#homeImage {
   max-width: 30vh;
   margin-top: 18vh;
}

.parent {
    display: table;
}

.child {
    display: table-cell;
    vertical-align: middle;
}

.tile-img {
    max-width: 100%;
    border-radius: 10px;
}

.fit-screen {
    height: 100vh;
}