@{
    ViewBag.Title = "Home";
}

<div class="text-center" style="padding-top: 215px; padding-bottom: 215px;">
    <div class="clip-text clip-text_fourteen clip-text--cover">
        LiftManager
    </div>
</div>