<div class="text-center">
    <h2>Contact Us</h2>
    <hr />
    <img src="~/img/home.png" height="250" style="margin-bottom: 30px;" />
    <div style="text-align: left;">
        This site was created as a bit of fun while I should have been *insert something productive here*.
        If you come across any issues or have any suggestions, feel free to fire them through to <a href="#">trainingmanagernz@gmail.com</a>.
    </div>
</div>