@{
    ViewBag.Title = "Home";
}

@*<div class="text-center" style="padding-top: 215px; padding-bottom: 215px;">
    <div class="clip-text clip-text_fourteen clip-text--cover">
        TrainingManager
    </div>
</div>*@
<div class="text-center fit-screen">
    <img src="~/img/home.png" alt="Man on calf raise machine" id="homeImage"/>
    <div style="margin-top: 20px;">
        A free online tool to help you organise and share training programs
        <div style="margin-top: 15px;">
            @if (User.Identity.IsAuthenticated)
            {
                <a type="button" class="btn btn-success" href="/Plans/Create">Add Plan</a>
            }
            else
            {
                <a type="button" class="btn btn-success" href="/Account/Register">Get started</a>
            }
            <a type="button" class="btn btn-info" href="/Plans">Existing plans</a>
        </div>
    </div>
</div>
<hr />
<h1 class="text-center">How does it work?</h1>
<hr />
<div class="row">
    <div class="col-md-6 parent">
        <div class="child">
            Once you have set up an account via the <a href="/Account/Register">register</a> page,
            you can access the user actions by clicking on your email address in the top right corner of the navbar.
        </div>
    </div>
    <div class="col-md-6 text-center not-mobile">
        <img src="~/img/user-actions-desktop.png" class="tile-img" />
    </div>
    <div class="col-md-6 text-center mobile">
        <img src="~/img/user-actions-mobile.png" class="tile-img" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 parent">
        <div class="child">
            Check out existing plans created by users in the <a href="/Plans">plans feed</a>.
            The feed sorts plans based on highest rating by the largest number of users.
        </div>
    </div>
    <div class="col-md-6 text-center not-mobile">
        <img src="~/img/user-plans-desktop.png" class="tile-img" />
    </div>
    <div class="col-md-6 text-center mobile">
        <img src="~/img/user-plans-mobile.png" class="tile-img" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 parent">
        <div class="child">
            TrainingManager was created as a bit of fun while I was learning how to build web apps using the .NET framework.
            Feel free to fire through any issues or suggestions to <a href="#">trainingmanagernz@gmail.com</a>.
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="~/img/unspecified.png" class="tile-img" />
    </div>
</div>