@{
    ViewBag.Title = "Home";
}

@*<div class="text-center" style="padding-top: 215px; padding-bottom: 215px;">
    <div class="clip-text clip-text_fourteen clip-text--cover">
        TrainingManager
    </div>
</div>*@
<div class="text-center fit-screen">
    <img src="~/img/home.png" alt="Man on calf raise machine" id="homeImage"/>
    <div style="margin-top: 20px;">
        A free online tool to help you organise and share training programs
        <div style="margin-top: 15px;">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn" href="/Plans/Create" style="margin-right: 10px; background-color: #dddddd; border-color: #dddddd; color: black;">Add Plan</a>
            }
            else
            {
                <a class="btn" href="/Account/Register" style="margin-right: 10px; background-color: #dddddd; border-color: #dddddd; color: black;">Get started</a>
            }
            <a class="btn" href="/Plans" style="background-color: #dddddd; border-color: #dddddd; color: black;">Existing plans</a>
        </div>
    </div>
</div>
<hr />
<h1 class="text-center">How does it work?</h1>
<hr />
<div class="row">
    <div class="col-md-6 text-center">
        <img src="~/img/user-actions.jpg" class="tile-img" />
    </div>
    <div class="col-md-6 parent" style="height: 300px;">
        <div class="child">
            Once you have set up an account via the <a href="/Account/Register">register</a> page,
            you can access the user actions by clicking on your email address in the top right corner of the navbar.
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 text-center">
        <img src="~/img/user-plans.JPG" class="tile-img" />
    </div>
    <div class="col-md-6 parent" style="height: 273px;">
        <div class="child">
            Check out existing plans created by users in the <a href="/Plans">plans feed</a>.
            The feed sorts plans based on highest rating by the largest number of users.
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 text-center">
        <img src="~/img/unspecified.png" class="tile-img" />
    </div>
    <div class="col-md-6 parent" style="height: 257px;">
        <div class="child">
            TrainingManager was created as a bit of fun while I was learning how to piece together sites using the .NET framework. 
            Report any issues or fire through suggestions to <a href="#">trainingmanagernz@gmail.com</a>. 
            If you don't mind looking at spagetti code, feel free to check it out on <a href="https://github.com/ash-midgley/training-manager">GitHub</a>.
        </div>
    </div>
</div>