@{
    ViewBag.Title = "Home";
}

<div class="text-center" id="home-title"> 
    <div class="clip-text clip-text_fourteen clip-text--cover" style="margin-left: auto; margin-right: auto;">
        TrainingManager
    </div>
    <p style="margin-top: 15px;">A free online tool to create and share training plans.</p>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header" style="padding: 0">
            <img class="card-img-top" src="~/img/unspecified.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Get started</h5>
            <p class="card-text">Register an account to start creating, rating and favouriting plans.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-success btn-sm" href="/Account/Register">Register</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="padding: 0">
            <img class="card-img-top" src="~/img/lifter.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">Add plan</h5>
            <p class="card-text">Create your first plan.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-info btn-sm" href="/Plans/Create">Add Plan</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="padding: 0">
            <img class="card-img-top" src="~/img/cardio.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">User plans</h5>
            <p class="card-text">Check out the current user plans feed and rate or favourite the ones you like.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-warning btn-sm" href="/Plans">User Plans</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="padding: 0">
            <img class="card-img-top" src="~/img/balance-flexibility.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">My details</h5>
            <p class="card-text">See how many users have favourited, rated and viewed your plans in 'My Details'.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger btn-sm" href="/User/Index">My Details</a>
        </div>
    </div>
</div>