@{
    ViewBag.Title = "Home";
}

@*<div class="text-center" style="padding-top: 215px; padding-bottom: 215px;">
    <div class="clip-text clip-text_fourteen clip-text--cover">
        TrainingManager
    </div>
</div>*@
<div class="text-center">
    <img src="~/img/home.png" alt="Buff man on calf raise machine" id="homeImage"/>
</div>