@{
    ViewBag.Title = "Home";
}

@*<div class="text-center" style="padding-top: 215px; padding-bottom: 215px;">
    <div class="clip-text clip-text_fourteen clip-text--cover">
        TrainingManager
    </div>
</div>*@
<div class="text-center" style="height: 100vh;">
    <img src="~/img/home.png" alt="Buff man on calf raise machine" id="homeImage"/>
    <div style="margin-top: 20px;">
        A free online tool to help you organise and share training programs
        <div style="margin-top: 15px;">
            <a class="btn btn-primary" href="/Account/Register" style="margin-right: 10px;">Get started</a>
            <a class="btn btn-success" href="/Plans">Existing plans</a>
        </div>
    </div>
</div>

<hr />
<h1 class="text-center" style="margin-bottom: 20px;">How does it work?</h1>
<div class="row">
    <div class="col-md-6 text-center">
        <img src="~/img/user-actions" style="max-width: 100%; border-radius: 10px;" />
    </div>
    <div class="col-md-6">
        Once you have set up an account via the <a href="/Account/Register">register</a> page, 
        you have access to create new plans and rate or favourite existing plans.
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        Check out existing plans created by users in the <a href="/Plans">plans feed</a>.
    </div>
    <div class="col-md-6 text-center">
        <img src="~/img/user-plans.JPG" style="max-width: 100%; border-radius: 10px;" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 text-center">
        <img src="~/img/unspecified.png" style="max-width: 100%; border-radius: 10px;" />
    </div>
    <div class="col-md-6">
        TrainingManager was created as a bit of fun while I was learning how to piece together sites using the .NET framework. 
        If you don't mind loooking at spagetti code, feel free to check it out on 
        <a href="https://github.com/ash-midgley/training-manager">GitHub</a>.
    </div>
</div>